@charset "UTF-8";
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subscribe__button, .form__button, .hero__button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover, .form__button:hover, .hero__button:hover, .subscribe__button:focus, .form__button:focus, .hero__button:focus {
  background-color: #188CE8;
}

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}
.logo__accent {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.header__logo {
  color: #000000;
}
@media screen and (max-width: 767px) {
  .header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 51px;
  }
}

.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item + .header-contacts__item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle--position {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu__nav-item:not(:last-child),
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__nav-item:not(:last-child),
.mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__nav-link {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .mobile-menu__nav-link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
  }
}
.mobile-menu__nav-link--current {
  display: block;
  margin-left: 4px;
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts {
    margin-bottom: 64px;
  }
}

.mobile-menu__contacts-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-link {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
  }
}
.mobile-menu__contacts-link--accent {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-link--accent {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
  }
}

.mobile-menu__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 420px) {
  .mobile-menu__sns {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.mobile-menu__sns-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__sns-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  max-width: 767px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-mobile@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tablet@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-desk.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-desk@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-desk@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desk@3x.jpg");
  }
}
.hero__text {
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero__text {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    width: 696px;
  }
}
.hero__button {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
@media screen and (max-width: 1199px) {
  .backdrop {
    overflow-y: scroll;
  }
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    max-height: 90vh;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: currentColor;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}
.form__field {
  display: block;
}
.form__field:not(:last-child) {
  margin-bottom: 10px;
}
.form__field:last-child {
  margin-bottom: 0;
}
.form__field--textarea-height {
  height: 138px;
}
.form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input-wrap {
  position: relative;
}

.form__input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}
.form__textarea:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 320px) {
  .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .checkbox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 12px;
  }
}
.checkbox__input {
  /* Или
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}
.checkbox__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
.checkbox__link {
  /* display: inline-block; */
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.checkbox__icon--unchecked {
  /* Или margin-left: 12px; */
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:focus + .checkbox__icon > .checkbox__icon--unchecked {
  border: 2px solid #212121;
}
.checkbox__input:checked + .checkbox__icon > .checkbox__icon--unchecked {
  opacity: 0;
}

.checkbox__icon--checked {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* pointer-events: none;
  visibility: hidden;
  ? */
}
.checkbox__input:checked + .checkbox__icon > .checkbox__icon--checked {
  opacity: 1;
}

.form__button {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.features__icon-wrapper {
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__subtitle {
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}
.features__info {
  line-height: 1.7;
}

.features__list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  position: relative;
  z-index: -1;
  width: 370px;
}
.about__item + .about__item {
  margin-left: 30px;
}

.about__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.about__subtitle {
  text-align: center;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team__name, .team__job-title {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}
.team__job-title {
  margin-bottom: 16px;
  color: #757575;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__card {
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sns__item {
  width: 44px;
  height: 44px;
}
.sns__item:not(:last-child) {
  margin-right: 10px;
}

.sns__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sns__link:hover, .sns__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.sns__link--inverse {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer__wrapper {
    margin-bottom: 60px;
  }
}

.footer-contacts {
  display: inline-block;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link--light {
  color: #ffffff;
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer-sns {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sns {
    margin-left: 95px;
    /* в макете указано 70, но отмеряет не от конца текста, а есть еще доп зазор */
  }
}

.footer-sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-sns__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__subtitle {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe__input {
  width: 450px;
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
}
@media screen and (max-width: 479px) {
  .subscribe__button {
    max-width: 100%;
  }
}

.subscribe__icon {
  margin-left: 12px;
}/*# sourceMappingURL=main.css.map */